{% extends 'base.html' %}
{% block content %}
<div class="container my-5 p-5">
    <div class="d-flex justify-content-between">
        <h1>Reviews Page</h1>
        <a href="/reviews/create/">Create Reviews</a>
    </div>
    <!-- {{reviews}} -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Review</th>
                <th scope="col">Rating</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in reviews %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.position}}</td>
                <td>{{i.review}}</td>
                <td>{{i.rating}}</td>
                <td>
                    <a href="{% url 'reviews-edit-page' i.pk %}">Edit</a>
                    <a href="{% url 'reviews-delete-page' i.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">
                    <p class="text-center">No data to display!</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}